<div style="width: 100%;display: grid;grid-template-columns: repeat(auto-fit,minmax(320px,1fr));gap: 10px;">
{{#each listProducts}}
   <div style="border: gray 1px solid; width: 320px;border-radius: 10px;padding: 8px;">
     <h1 style="text-align: center;"> {{this.title}} </h1>
     <p> <b>Descripcion</b>: {{this.description}} </p>
     <div style="display: flex; flex-direction: row;justify-content: space-between;">
        <p> <b> USD${{this.price}} </b> </p>
        <p> <b> Cantidad:{{this.stock}} </b> </p>
     </div>
   </div>
{{/each}}
</div>