<h1>Profile</h1>

<div style="display: flex; flex-direction: column;">
    First Name: {{first_name}} 
    Last Name: {{last_name}} 
    Age: {{age}} 
    Email: {{email}} 
</div>

<br>

<a href="/api/session/logout">LogOut</a>