<form action="" id="form-recoverPassword" style="margin-top: 30px;">
    <input type="password" placeholder="Enter your New Password" id="input-recoverPassword-newPassword">
    <input type="password" placeholder="Confirm Password" id="input-recoverPassword-confirmPassword">
    <button type="submit">Actualizar Password</button>
</form>

<script>    
    const form = document.querySelector("#form-recoverPassword");
    form.addEventListener('submit', (evt) => {
        evt.preventDefault();

        const newPassword = evt.target["input-recoverPassword-newPassword"].value;
        const confirmPassword = evt.target["input-recoverPassword-confirmPassword"].value;

        if (newPassword != "" && confirmPassword != "") {
            if (newPassword != confirmPassword) return alert("Los campos no son iguales")

            fetch(`/api/session/recoverPassword`,
             {  method: 'PUT', body: JSON.stringify({ password: newPassword }),
                headers: { "Content-Type": "application/json" } 
             }
            ).then(() => {
                alert('Se actualizo correctamente');
                window.location.href = "/products";
            }).catch(e => {
                alert('No se actualizo');
                console.log(e);
            })
        } 
    });

</script>