<form action="" id="form-recoverPassword">
    <input type="password" placeholder="Enter your New Password" id="input-recoverPassword-newPassword">
    <input type="password" placeholder="Confirm Password" id="input-recoverPassword-confirmPassword">
    <button type="submit">Actualizar Password</button>
</form>

<script>    
    const form = document.querySelector("#form-recoverPassword");
    form.addEventListener('submit', (evt) => {
        evt.preventDefault();

        const newPassword = evt.target["input-recoverPassword-newPassword"].value;
        const confirmPassword = evt.target["input-recoverPassword-confirmPassword"].value;

        if (newPassword != confirmPassword) return alert("Los campos no son iguales")

        console.log("ACTUALIZAR CONTRASEÑA")
    });

</script>