<h1>Register</h1>

<form action="/api/session/register" method="POST">
    First Name: <input type="text" name="first_name"> <br>
    Last Name: <input type="text" name="last_name"> <br>
    Age: <input type="number" name="age"> <br>
    Email: <input type="email" name="email"> <br>
    Password: <input type="password" name="password"> <br>

    <button type="submit">Register</button>
</form>
<a href="/api/session/github">Registrarse con GitHub</a>