<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/login">Login</a> 
        <a href="/register">Register</a> 
        <a href="/api/session/logout">LogOut</a>
    </div>
    
    {{{ body }}}
</body>
</html>